♪
#Template for AL projects for Dynamics 365 Business Central #
Thư mục #launch.json
Mã .vs
# Thư mục Cache
♪ A.alcache ♪
# Thư mục tài phiệt
♪ Allpackages ♪
♪ nh chụp thư mục ♪
Bắt cóc.
# Thư mục tiêu nhập
...đầu ra
♪ Trang web mở rộng
♪app ♪
# Phần kết ứng dụng nhanh
rad.json
♪ Translation base-file ♪
*.g.xlf
# Tiểu sử cấp phép
*. Flf
#Test results file #
TestResults.xml
